#containerUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

#userPosts {
    width: 90%;
    margin: auto;

}

#posts {
    border: 1px solid green;
}